services:
  mlmd-bom:
    build: .
    container_name: mlmd-bom-app
    working_dir: /app
    user: "0:0"
    volumes:
      - ./app:/app
      - ./output:/app/output
    environment:
      - EXTRACT_CONTEXT=${EXTRACT_CONTEXT:-}
    command: python main.py
