services:
  mlmd-bom:
    build: .
    container_name: mlmd-bom-app
    working_dir: /app
    volumes:
      - ./app:/app
      - ./output:/app/output
    environment:
      - OUTPUT_DIR=/app/output
    command: python main.py
