services:
  mysql:
    image: mysql:8.0
    container_name: mlmd-mysql
    command: ["--default-authentication-plugin=mysql_native_password"]
    env_file:
      - path: ./env/mysql.env
        required: true
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - mlmd_mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d:ro

  mlmd-populator:
    build:
      context: ./populator
      dockerfile: Dockerfile
    container_name: mlmd-populator
    working_dir: /app
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
    environment:
      - MLMD_BACKEND=mysql
    env_file:
      - path: ./env/default.env
        required: true
    command: /bin/bash -c "python main.py 2>&1 | tee -a /app/logs/mlmd-populator.log"

  mlmd-bom:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: mlmd-app
    working_dir: /app
    depends_on:
      mysql:
        condition: service_healthy
      mlmd-populator:
        condition: service_completed_successfully
    volumes:
      - ./output:/app/output
      - ./logs:/app/logs
    environment:
      - MLMD_BACKEND=mysql
    env_file:
      - path: ./env/default.env
        required: true
    command: /bin/bash -c "python main.py 2>&1 | tee -a /app/logs/mlmd-app.log"

volumes:
  mlmd_mysql_data:
