apiVersion: batch/v1
kind: Job
metadata:
  name: mlmd-bom-app
spec:
  template:
    metadata:
      labels:
        app: mlmd-bom-app
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      restartPolicy: OnFailure
      containers:
      - name: mlmd-bom-app
        image: wiebevandendriessche/mlmd-bom-app:latest
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          runAsNonRoot: true
        env:
        - name: LOG_LEVEL
          value: "INFO"
        - name: LOG_FORMAT
          value: "plain"
        volumeMounts:
        - name: output
          mountPath: /app/output
        - name: logs
          mountPath: /app/logs
      volumes:
      - name: output
        persistentVolumeClaim:
          claimName: mlmd-bom-output-pvc
      - name: logs
        emptyDir: {}
